.background-container-user {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px !important;
  background: url(http://efatacomunicacao.com.br/juanx/background.svg) repeat,
    linear-gradient(140deg, #890e4f, #025f64);
  color: #d4f4f5c7;
}
